---
---

@import "{{ site.theme }}";

body {
	background: #FFFFFF;
};

header {
	display: none;
};

footer {
	display: none;
};

a {
	color: #3C5A99;
};

.inner {
	max-width: 720px;
}

#main_content_wrap {
	background: #FFFFFF;
};
